<p style="font-family: Arial, Helvetica, sans-serif; font-size:16px">Dear {{username}},</p><br>
<p style="font-family: Arial, Helvetica, sans-serif; font-size:16px">Thank you for registering with <a
        style="text-decoration: none;" href="http://localhost:4200/">Videoflix</a>. To complete your registration and
    verify your email address, please click the link below:</p><br>

   

<!-- <a style="font-family: Arial, Helvetica, sans-serif; font-size:16px;text-decoration:none;padding:8px 12px; display:flex; align-items:center; justify-content:center; background-color: #2E3EDF; color:white; border-radius: 40px"
    href="https://example.com/verify?user_id={{ user_id }}&code={{ code }}">Activate account</a><br> -->

    <table  cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td style="border-radius: 2px;" bgcolor="#2E3EDF">
                            <a href="http://localhost:4200/verify/?user_id={{ user_id }}&code={{ code }}" target="_blank" style="padding: 8px 12px; border: 1px solid #2E3EDF;border-radius: 40px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                                Activate account             
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
      </table>

<p style="font-family: Arial, Helvetica, sans-serif; font-size:16px;">If you did not create an account with us, please
    disregard this email. <br><br>Best regards, <br><br>Your Videoflix Team</p>